:root {
	--gray-0: #F8F9FA;
	--gray-1: #f4f5f1;
	--gray-2: #E9ECEF;
	--gray-3: #DEE2E6;
	--gray-4: #CED4DA;
	--gray-5: #ADB5BD;
	--gray-6: #868E96;
	--gray-7: #495057;
	--gray-8: #343A40;
	--gray-9: #212529;
	--white: #FFFFFF;
	--black: #000000;
	--dark: #212529;
	--font-color: var(--gray-8);
	--heading-color: var(--gray-9);
	--border-color: var(--gray-2);
	--body-color: var(--gray-1);
	--card-color: var(--white);
	--sidebar-color: var(--white);
	--buy-color: #0ecb81;
	--sell-color: #f6465d;
}

[data-theme=dark] {
	--gray-0: #212529;
	--gray-1: #31363a;
	--gray-2: #4e5358;
	--gray-3: #6f7479;
	--gray-4: #606264;
	--gray-5: #737579;
	--gray-6: #929599;
	--gray-7: #a8acaf;
	--gray-8: #e5e7e9;
	--gray-9: #e3e6e9;
	--white: #FFFFFF;
	--black: #000000;
	--dark: #000000;
	--font-color: var(--gray-6);
	--heading-color: var(--gray-8);
	--border-color: #19191a;
	--body-color: #070707;
	--card-color: #101010;
	--sidebar-color: #1f2122;
}

[data-theme=dark] .body-bg {
	background: #0f0f10;
}

[data-theme=dark] [data-qboat=theme-DaisyBush] {
	--primary-color: #7529c2;
}

[data-theme=dark] [data-qboat=theme-Midnight] {
	--primary-color: #3f5770;
}

body.radius-0 .card,
body.radius-0 .card .card-header,
body.radius-0 .card .card-footer,
body.radius-0 .sidebar .menu-link,
body.radius-0 .form-select,
body.radius-0 .btn,
body.radius-0 .form-control,
body.radius-0 .nav-link,
body.radius-0 .dropdown-menu,
body.radius-0 .choose-skin li div,
body.radius-0 .choose-skin li.active:after,
body.radius-0 .avatar,
body.radius-0 .rounded,
body.radius-0 .rounded-1,
body.radius-0 .rounded-2,
body.radius-0 .rounded-3,
body.radius-0 .rounded-4,
body.radius-0 .rounded-pill,
body.radius-0 .card .card-img-top,
body.radius-0 .alert,
body.radius-0 .badge,
body.radius-0 .input-group-text {
	border-radius: 0 !important;
}

body.monochrome .sidebar,
body.monochrome .page {
	filter: gray;
	filter: grayscale(1);
}

:is(a) {
	color: var(--primary-color);
}

:is(a):hover,
:is(a):focus {
	color: var(--accent-color);
	outline: none;
	box-shadow: none;
}

img:hover {
	filter: saturate(.5);
}
#body{
	margin-top: 70px;
}
img.hover-none:hover {
	filter: none;
}
.line-bottom{
	border-bottom: 2px solid #04bc51; 
    margin: 0px -20px;
    padding: 20px;
}
.line-bottom a{
	padding-bottom: 5px;
}
.bullet-dot {
	position: absolute;
	-webkit-animation: blink 1s linear infinite;
	animation: blink 1s linear infinite;
	height: 8px;
	width: 8px;
	border-radius: 10px;
	right: 10px;
	top: -5px;
}
.ce-header .h4:after {
    content: '';
    position: absolute;
    left: 13px;
    bottom: 0px;
    width: 53px;
    border-bottom: 3px solid #08d25c;
}
@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	to {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	to {
		opacity: 1;
	}
}

.notification a {
	color: var(--gray-6);
	text-decoration: none;
}

.notification a p {
	color: var(--gray-8);
	font-size: 15px;
}

.notification a small {
	color: var(--gray-5);
	font-size: 10px;
}

.choose-skin {
	display: flex;
	flex-direction: column;
}

.choose-skin li {
	color: var(--gray-5);
}

.choose-skin li>span {
	flex-grow: 1;
}

.choose-skin li div {
	transition: all .3s ease-in-out;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: 4px 8px;
	font-size: 11px;
	color: var(--white);
}

.choose-skin li.active,
.choose-skin li:hover {
	color: var(--primary-color);
}

.pricing-table .owl-stage {
	display: flex;
	align-items: stretch;
}

.pricing-table .owl-stage .owl-item {
	background: var(--card-color);
	border-radius: .75rem;
}

.pricing-table .owl-stage .owl-item .item {
	display: flex;
	flex-direction: column;
	height: 100%;
}

ul.row {
	list-style: none;
}

.row-deck>.col,
.row-deck>[class*=col-] {
	display: flex;
	align-items: stretch;
}

.row-deck>.col .card,
.row-deck>[class*=col-] .card {
	flex: 1 1 auto;
}

.row-deck .row-deck {
	flex: 1 0 0%;
}

.row-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 768px) {
	.row-title {
		flex-direction: column;
		text-align: center;
	}

	.row-title>div {
		margin-top: 10px;
	}
}

.contacts>li {
	background: var(--card-color);
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem;
	border-radius: .7rem;
	margin-bottom: 5px;
}

.contacts>li:hover {
	border-color: var(--primary-color);
}

.contacts .form-check {
	margin-right: 1rem;
}

.contacts a {
	display: flex;
	text-decoration: none;
}

.lightGallery .light-link {
	background: var(--primary-gradient);
	display: block;
}

.lightGallery img {
	transition: all .3s ease-in-out;
	filter: grayscale(1);
	opacity: .7;
}

.lightGallery img:hover {
	opacity: 1;
	filter: none;
}

.inline-calendar .datepicker-inline,
.inline-calendar .table-condensed {
	width: 100% !important;
	padding: 0;
}

.inline-calendar .day {
	height: 40px;
	width: 30px;
	font-size: 12px;
}

.inline-calendar .day.today {
	background: var(--primary-color) !important;
	color: var(--white) !important;
}

.inline-calendar .day.active {
	background: var(--accent-color) !important;
	color: var(--white) !important;
}

.chips>a {
	border: 1px solid var(--border-color);
	border-radius: 30px;
	padding-right: 15px;
	align-items: center;
	vertical-align: bottom;
}

.tech-icon ul {
	padding-left: 0 !important;
}

.tech-icon ul li {
	min-width: 40px;
	min-height: 40px;
	background: var(--white);
	border-radius: 50%;
	margin-right: 15px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tech-icon ul li:after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 1px solid var(--white);
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-animation: play-btn-2 1.5s linear infinite;
	animation: play-btn-2 1.5s linear infinite;
}

.responsive-tabs-container .responsive-tabs li {
	border-right: 1px solid var(--border-color);
}

.responsive-tabs-container .responsive-tabs li:last-child {
	border: 0;
}

.responsive-tabs-container .responsive-tabs li.active>a,
.responsive-tabs-container .responsive-tabs li:hover>a {
	color: var(--gray-8);
	color: var(--primary-color);
}

.responsive-tabs-container .responsive-tabs li>a {
	transition: ease .1s;
	display: inline-block;
	color: var(--gray-5);
	margin: 0 3px;
}

.responsive-tabs-container .tab-content {
	transition: ease .1s;
}

.page-navbar .nav-link {
	color: var(--gray-6);
}

.page-navbar .nav-link.active,
.page-navbar .nav-link:hover {
	color: var(--primary-color);
}

.bootstrap-select .btn,
.bootstrap-select .btn .filter-option,
.bootstrap-select .btn .filter-option .filter-option-inner,
.bootstrap-select .btn .filter-option .filter-option-inner .filter-option-inner-inner {
	border: 0;
}

.bootstrap-select .btn:focus,
.bootstrap-select .btn:focus-within,
.bootstrap-select .btn:focus-visible,
.bootstrap-select .btn:target,
.bootstrap-select .btn:visited,
.bootstrap-select .btn:active,
.bootstrap-select .btn .filter-option:focus,
.bootstrap-select .btn .filter-option:focus-within,
.bootstrap-select .btn .filter-option:focus-visible,
.bootstrap-select .btn .filter-option:target,
.bootstrap-select .btn .filter-option:visited,
.bootstrap-select .btn .filter-option:active,
.bootstrap-select .btn .filter-option .filter-option-inner:focus,
.bootstrap-select .btn .filter-option .filter-option-inner:focus-within,
.bootstrap-select .btn .filter-option .filter-option-inner:focus-visible,
.bootstrap-select .btn .filter-option .filter-option-inner:target,
.bootstrap-select .btn .filter-option .filter-option-inner:visited,
.bootstrap-select .btn .filter-option .filter-option-inner:active,
.bootstrap-select .btn .filter-option .filter-option-inner .filter-option-inner-inner:focus,
.bootstrap-select .btn .filter-option .filter-option-inner .filter-option-inner-inner:focus-within,
.bootstrap-select .btn .filter-option .filter-option-inner .filter-option-inner-inner:focus-visible,
.bootstrap-select .btn .filter-option .filter-option-inner .filter-option-inner-inner:target,
.bootstrap-select .btn .filter-option .filter-option-inner .filter-option-inner-inner:visited,
.bootstrap-select .btn .filter-option .filter-option-inner .filter-option-inner-inner:active {
	border: 0;
	outline: none !important;
	box-shadow: none;
}

.page-navbar .nav-link.active {
	color: var(--primary-color) !important;
}

code {
	font-size: 16px;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
	overflow-y: auto;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background: var(--black) !important;
}

:not(pre)>code[class*=language-]::-webkit-scrollbar,
pre[class*=language-]::-webkit-scrollbar {
	background: var(--card-color);
	visibility: visible;
	width: 4px;
}

:not(pre)>code[class*=language-]:hover::-webkit-scrollbar-thumb,
pre[class*=language-]:hover::-webkit-scrollbar-thumb {
	background: var(--gray-4);
}

:not(pre)>code[class*=language-]::-webkit-scrollbar-track,
pre[class*=language-]::-webkit-scrollbar-track {
	visibility: visible;
	background: transparent;
}

:not(pre)>code[class*=language-]::-webkit-scrollbar-thumb,
pre[class*=language-]::-webkit-scrollbar-thumb {
	background: transparent;
	visibility: visible;
}

code[class*=language-],
pre[class*=language-] {
	text-shadow: none !important;
	color: var(--white) !important;
}

@media only screen and (max-width: 1120px) {
	.doc-quick-link {
		display: none;
	}
}

@media only screen and (min-width: 1120px) {
	.mt-lg-n5 {
		margin-top: -3rem !important;
	}
}

@media only screen and (min-width: 1120px) {
	.mt-lg-n10 {
		margin-top: -10rem !important;
	}
}

@media only screen and (min-width: 767px) {
	.mt-sm-n5 {
		margin-top: -3rem !important;
	}
}

@media only screen and (min-width: 767px) {
	.ms-sm-n5 {
		margin-left: -3rem !important;
	}
}

@media only screen and (min-width: 992px) {
	.ms-md-n4 {
		margin-left: -1.5rem !important;
	}
}

@media only screen and (max-width: 767px) {
	.page-toolbar .row {
		display: block;
	}

	.page-toolbar .row .col-auto {
		margin-top: 20px;
	}
}

.text-muted {
	color: #9399a1 !important;
}

.fill-muted {
	fill: #9399a1 !important;
}

.text-primary {
	color: var(--primary-color) !important;
}

.text-accent {
	color: var(--accent-color) !important;
}

.text-secondary {
	color: var(--secondary-color) !important;
}

.text-gradient {
	background: linear-gradient(145deg, var(--primary-color), var(--accent-color));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-primary {
	background: var(--primary-color) !important;
}

.bg-primary-light {
	background: var(--primary-color) !important;
	color: var(--gray-8);
}

.bg-secondary {
	background: var(--secondary-color) !important;
}

.bg-accent {
	background: var(--accent-color) !important;
}

.bg-body {
	background: var(--body-color) !important;
}

.bg-card {
	background: var(--card-color) !important;
}

.bg-primary-gradient {
	background: var(--primary-gradient) !important;
	color: #fff;
}

.bg-gradient {
	background: linear-gradient(145deg, var(--primary-color), var(--theme-color2)) !important;
}

.bg-light-primary {
	background: rgba(var(--primary-rgb), .2) !important;
}

.bg-light-success {
	background: rgba(25, 135, 84, .2) !important;
}

.bg-light-danger {
	background: rgba(220, 53, 69, .2) !important;
}

.bg-light-warning {
	background: rgba(255, 193, 7, .2) !important;
}

.bg-light-info {
	background: rgba(13, 202, 240, .2) !important;
}

.gray-0 {
	color: var(--gray-0);
}

.gray-1 {
	color: var(--gray-1);
}

.gray-2 {
	color: var(--gray-2);
}

.gray-3 {
	color: var(--gray-3);
}

.gray-4 {
	color: var(--gray-4);
}

.gray-5 {
	color: var(--gray-5);
}

.gray-6 {
	color: var(--gray-6);
}

.gray-7 {
	color: var(--gray-7);
}

.gray-8 {
	color: var(--gray-8);
}

.gray-9 {
	color: var(--gray-9);
}

.gray-bg-0 {
	background-color: var(--gray-0);
}

.gray-bg-1 {
	background-color: var(--gray-1);
}

.gray-bg-2 {
	background-color: var(--gray-2);
}

.gray-bg-3 {
	background-color: var(--gray-3);
}

.gray-bg-4 {
	background-color: var(--gray-4);
}

.gray-bg-5 {
	background-color: var(--gray-5);
}

.gray-bg-6 {
	background-color: var(--gray-6);
}

.gray-bg-7 {
	background-color: var(--gray-7);
}

.gray-bg-8 {
	background-color: var(--gray-8);
}

.gray-bg-9 {
	background-color: var(--gray-9);
}

.theme-color1 {
	background-color: var(--theme-color1) !important;
}

.theme-color2 {
	background-color: var(--theme-color2) !important;
}

.theme-color3 {
	background-color: var(--theme-color3) !important;
}

.theme-color4 {
	background-color: var(--theme-color4) !important;
}

.theme-color5 {
	background-color: var(--theme-color5) !important;
}

.theme-color6 {
	background-color: var(--theme-color6) !important;
}

.fill-primary {
	fill: var(--primary-color) !important;
}

.fill-accent {
	fill: var(--accent-color) !important;
}

.fill-secondary {
	fill: var(--secondary-color) !important;
}

.fill-white {
	fill: #fff !important;
}

.theme-fill-color1 {
	fill: var(--theme-color1) !important;
}

.theme-fill-color2 {
	fill: var(--theme-color2) !important;
}

.theme-fill-color3 {
	fill: var(--theme-color3) !important;
}

.theme-fill-color4 {
	fill: var(--theme-color4) !important;
}

.theme-fill-color5 {
	fill: var(--theme-color5) !important;
}

.theme-fill-color6 {
	fill: var(--theme-color6) !important;
}

.theme-text-color1 {
	color: var(--theme-color1) !important;
}

.theme-text-color2 {
	color: var(--theme-color2) !important;
}

.theme-text-color3 {
	color: var(--theme-color3) !important;
}

.theme-text-color4 {
	color: var(--theme-color4) !important;
}

.theme-text-color5 {
	color: var(--theme-color5) !important;
}

.theme-text-color6 {
	color: var(--theme-color6) !important;
}

.light-yellow {
	background-color: #fef9f4 !important;
}

.color-price-up {
	color: var(--buy-color);
}

.color-price-down {
	color: var(--sell-color);
}

.w120 {
	width: 120px;
}

.font-heading {
	font-family: Amatic SC, cursive;
}

.custom_scroll {
	overflow-y: auto;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.custom_scroll::-webkit-scrollbar {
	background: var(--card-color);
	visibility: visible;
	width: 4px;
}

.custom_scroll:hover::-webkit-scrollbar-thumb {
	background: var(--gray-4);
}

.custom_scroll::-webkit-scrollbar-track {
	visibility: visible;
	background: transparent;
}

.custom_scroll::-webkit-scrollbar-thumb {
	background: transparent;
	visibility: visible;
}

@media only screen and (max-width: 768px) {
	.custom_scroll {
		padding-bottom: 60px;
	}
}

.bg-gradient-1 {
	background-image: radial-gradient(circle farthest-corner at 92.3% 71.5%, #538ad6 0%, #86e7d6 90%);
}

.bg-gradient-2 {
	background-image: radial-gradient(circle farthest-corner at 10% 20%, #0eae57 0%, #0c7475 90%);
}

.bg-gradient-3 {
	background-image: radial-gradient(circle farthest-corner at 10% 20%, #f66280 0%, #f88187 98.3%);
}

.bg-gradient-4 {
	background-image: linear-gradient(109.6deg, #d92488 11.2%, #693b9f 91.1%);
}

.bg-gradient-5 {
	background-image: linear-gradient(358.4deg, #f99777 -2.1%, #623aa2 90%);
}

.bg-gradient-6 {
	background-image: radial-gradient(circle farthest-corner at 7.2% 13.6%, #25f9f5 0%, #0846da 90%);
}

.bg-gradient-7 {
	background-image: radial-gradient(circle farthest-corner at 10% 20%, #55951b .1%, #b7db57 90%);
}

.bg-gradient-8 {
	background-image: linear-gradient(109.6deg, #ee3a88 11.2%, #80a2f5 91.1%);
}

.bg-gradient-9 {
	background-image: radial-gradient(circle 590px at 8.2% 13.8%, #12233c 0%, #bbb 90%);
}

.bg-gradient-1 .card-body,
.bg-gradient-2 .card-body,
.bg-gradient-3 .card-body,
.bg-gradient-4 .card-body,
.bg-gradient-5 .card-body,
.bg-gradient-6 .card-body,
.bg-gradient-7 .card-body,
.bg-gradient-8 .card-body,
.bg-gradient-9 .card-body {
	z-index: 2;
}

.li_animate>li {
	opacity: 0;
	transform: translateY(15px);
	-webkit-animation: eliment-animation .3s ease-in-out .33333s;
	animation: eliment-animation .3s ease-in-out .33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.li_animate>li:hover {
	z-index: 999;
}

.li_animate>li:nth-child(1) {
	-webkit-animation-delay: .01s;
	animation-delay: .01s;
}

.li_animate>li:nth-child(2) {
	-webkit-animation-delay: .04s;
	animation-delay: .04s;
}

.li_animate>li:nth-child(3) {
	-webkit-animation-delay: .08s;
	animation-delay: .08s;
}

.li_animate>li:nth-child(4) {
	-webkit-animation-delay: .12s;
	animation-delay: .12s;
}

.li_animate>li:nth-child(5) {
	-webkit-animation-delay: .16s;
	animation-delay: .16s;
}

.li_animate>li:nth-child(6) {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.li_animate>li:nth-child(7) {
	-webkit-animation-delay: .24s;
	animation-delay: .24s;
}

.li_animate>li:nth-child(8) {
	-webkit-animation-delay: .28s;
	animation-delay: .28s;
}

.li_animate>li:nth-child(9) {
	-webkit-animation-delay: .32s;
	animation-delay: .32s;
}

.li_animate>li:nth-child(10) {
	-webkit-animation-delay: .36s;
	animation-delay: .36s;
}

.li_animate>li:nth-child(11) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}

.li_animate>li:nth-child(12) {
	-webkit-animation-delay: .44s;
	animation-delay: .44s;
}

.li_animate>li:nth-child(13) {
	-webkit-animation-delay: .48s;
	animation-delay: .48s;
}

.li_animate>li:nth-child(14) {
	-webkit-animation-delay: .52s;
	animation-delay: .52s;
}

.li_animate>li:nth-child(15) {
	-webkit-animation-delay: .56s;
	animation-delay: .56s;
}

.li_animate>li:nth-child(16) {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}

.li_animate>li:nth-child(17) {
	-webkit-animation-delay: .64s;
	animation-delay: .64s;
}

.li_animate>li:nth-child(18) {
	-webkit-animation-delay: .68s;
	animation-delay: .68s;
}

.li_animate>li:nth-child(19) {
	-webkit-animation-delay: .72s;
	animation-delay: .72s;
}

.li_animate>li:nth-child(20) {
	-webkit-animation-delay: .76s;
	animation-delay: .76s;
}

@-webkit-keyframes eliment-animation {
	to {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes eliment-animation {
	to {
		opacity: 1;
		transform: translate(0);
	}
}

.avatar-list .avatar {
	opacity: 0;
	transform: translate(50px);
	-webkit-animation: eliment-animation .3s ease-in-out .33333s;
	animation: eliment-animation .3s ease-in-out .33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.avatar-list .avatar:nth-child(1) {
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}

.avatar-list .avatar:nth-child(2) {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.avatar-list .avatar:nth-child(3) {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

.avatar-list .avatar:nth-child(4) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}

.avatar-list .avatar:nth-child(5) {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.avatar-list .avatar:nth-child(6) {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}

.avatar-list .avatar:nth-child(7) {
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
}

.link-effect-1 {
	position: relative;
	transition: -webkit-clip-path 275ms ease;
	transition: clip-path 275ms ease;
	transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}

.link-effect-1:after {
	content: "";
	background: rgba(var(--primary-rgb), .15);
	position: absolute;
	width: calc(100% + 6px);
	height: 0;
	left: -3px;
	transition: all .3s cubic-bezier(.445, .05, .55, .95);
}

.link-effect-1:hover:after {
	height: calc(100% + 8px);
}

@-webkit-keyframes play-btn-2 {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes play-btn-2 {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}

@media only screen and (min-width: 1440px) {
	.qboat.docs .sidebar .menu-list .brand-icon {
		border: 0;
	}
}

.qboat.docs .page-title .h1,
.qboat.docs .page-title h1 {
	width: auto;
}

.qboat.docs .order-0>ul {
	background: var(--card-color);
	padding: 1rem 1rem 1rem 2.5rem;
	border-radius: 1rem;
}

.qboat.gradient .bg-primary,
.qboat.gradient .btn-primary,
.qboat.gradient .no-thumbnail {
	background: linear-gradient(45deg, var(--primary-color), var(--accent-color));
	border: 0;
}

.qboat.auth .sidebar.auth2 {
	background-image: url(/assets/theme/img/auth-bg.png);
	background-color: var(--card-color);
	border: 1rem solid var(--card-color);
	border-radius: 2rem;
	margin: 2rem;
	width: 350px;
	min-width: 350px;
	height: calc(100vh - 4rem);
}

.qboat.auth .sidebar.auth2 .flex-grow-1 .menu-list {
	background: transparent;
}

.qboat.auth .page {
	z-index: 999;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.qboat.auth .body-bg .hero-img1,
.qboat.auth .body-bg svg {
	display: block;
}

.qboat.auth .body-bg:after {
	height: 155px;
}

.qboat.sidebar-mini a.menu-toggle svg {
	transform: rotate(181deg);
}

.qboat.sidebar-mini .sidebar {
	min-width: 110px;
	width: 110px;
}

.qboat.sidebar-mini .sidebar .menu-list>li {
	position: relative;
}

.qboat.sidebar-mini .sidebar .menu-list>li:hover .sub-menu {
	background: var(--card-color);
	box-shadow: 0 .5rem 1rem #00000012;
	display: block;
	position: absolute;
	top: 0;
	left: 46px;
	min-width: 170px;
	padding: 1rem;
	border-radius: 1rem;
}

.qboat.sidebar-mini .sidebar .menu-list>li .sub-menu {
	display: none;
}

.qboat.sidebar-mini .sidebar .menu-list>li.brand-icon {
	margin-bottom: 40px !important;
}

.qboat.sidebar-mini .sidebar .menu-list span {
	display: none;
}

.qboat.sidebar-mini .sidebar .menu-list a.m-link {
	padding: .7rem 0;
}

.qboat.sidebar-mini .sidebar .menu-list a.m-link svg {
	margin: 0 auto;
}

.qboat.sidebar-mini .sidebar .brand-icon {
	justify-content: center;
}

.qboat.sidebar-mini .sidebar .brand-icon .btn {
	position: absolute;
	top: 42px;
}

.qboat.sidebar-mini .sidebar .promo {
	display: none;
}

.qboat.sidebar-v3 .metismenu>li>a {
	color: var(--gray-8);
	border-bottom: 1px solid var(--border-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: .7rem 0;
}

.qboat.sidebar-v3 .metismenu>li>a[aria-expanded=true] {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.qboat.sidebar-v3 .metismenu .sub-link {
	color: var(--gray-6);
	border-bottom: 1px dashed var(--border-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 6px 8px;
	font-size: 15px;
}

.qboat.sidebar-v3 .metismenu .sub-link:hover,
.qboat.sidebar-v3 .metismenu .sub-link.active {
	color: var(--primary-color);
}

.qboat.sidebar-v3 .metismenu .has-arrow:after {
	width: .35em;
	height: .35em;
	right: .6rem;
}

.qboat.sidebar-v3 .page-header .menu-toggle {
	display: none !important;
}

.qboat.sidebar-v3 .mini-sidebar,
.qboat.sidebar-v4.sidebar-mini .sidebar {
	display: none;
}

@media only screen and (min-width: 768px) {
	.page {
		padding: 0;
	}
}

@media only screen and (min-width: 1280px) {
	.page {
		padding: 0rem;
		z-index: 999;
	}
}

@media only screen and (min-width: 1680px) {
	.page {
		padding: 0rem;
		z-index: 999;
	}
}

@media only screen and (min-width: 1440px) {
	.qboat.docs .sidebar .menu-list .brand-icon {
		border: 0;
	}
}

.qboat.docs .page-title .h1,
.qboat.docs .page-title h1 {
	width: auto;
}

.qboat.docs .order-0>ul {
	background: var(--card-color);
	padding: 1rem 1rem 1rem 2.5rem;
	border-radius: 1rem;
}

.qboat.gradient .bg-primary,
.qboat.gradient .btn-primary,
.qboat.gradient .no-thumbnail {
	background: linear-gradient(45deg, var(--primary-color), var(--accent-color));
	border: 0;
}

.qboat.auth .sidebar.auth2 {
	background-image: url(/assets/theme/img/auth-bg.png);
	background-color: var(--card-color);
	border: 1rem solid var(--card-color);
	border-radius: 2rem;
	margin: 2rem;
	width: 350px;
	min-width: 350px;
	height: calc(100vh - 4rem);
}

.qboat.auth .sidebar.auth2 .flex-grow-1 .menu-list {
	background: transparent;
}

.qboat.auth .page {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	z-index: 999;
}

.qboat.auth .body-bg .hero-img1,
.qboat.auth .body-bg svg {
	display: block;
}

.qboat.auth .body-bg:after {
	height: 155px;
}

.qboat.sidebar-mini a.menu-toggle svg {
	transform: rotate(181deg);
}

.qboat.sidebar-mini .sidebar {
	min-width: 110px;
	width: 110px;
}

.qboat.sidebar-mini .sidebar .menu-list>li {
	position: relative;
}

.qboat.sidebar-mini .sidebar .menu-list>li:hover .sub-menu {
	background: var(--card-color);
	box-shadow: 0 .5rem 1rem #00000012;
	display: block;
	position: absolute;
	top: 0;
	left: 46px;
	min-width: 170px;
	padding: 1rem;
	border-radius: 1rem;
}

.qboat.sidebar-mini .sidebar .menu-list>li .sub-menu {
	display: none;
}

.qboat.sidebar-mini .sidebar .menu-list>li.brand-icon {
	margin-bottom: 40px !important;
}

.qboat.sidebar-mini .sidebar .menu-list span {
	display: none;
}

.qboat.sidebar-mini .sidebar .menu-list a.m-link {
	padding: .7rem 0;
}

.qboat.sidebar-mini .sidebar .menu-list a.m-link svg {
	margin: 0 auto;
}

.qboat.sidebar-mini .sidebar .brand-icon {
	justify-content: center;
}

.qboat.sidebar-mini .sidebar .brand-icon .btn {
	position: absolute;
	top: 42px;
}

.qboat.sidebar-mini .sidebar .promo {
	display: none;
}

.qboat.sidebar-v3 .metismenu>li>a {
	color: var(--gray-8);
	border-bottom: 1px solid var(--border-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: .7rem 0;
}

.qboat.sidebar-v3 .metismenu>li>a[aria-expanded=true] {
	border-color: var(--accent-color);
	color: var(--accent-color);
}

.qboat.sidebar-v3 .metismenu .sub-link {
	color: var(--gray-6);
	border-bottom: 1px dashed var(--border-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 6px 8px;
	font-size: 15px;
}

.qboat.sidebar-v3 .metismenu .sub-link:hover,
.qboat.sidebar-v3 .metismenu .sub-link.active {
	color: var(--primary-color);
}

.qboat.sidebar-v3 .metismenu .has-arrow:after {
	width: .35em;
	height: .35em;
	right: .6rem;
}

.qboat.sidebar-v3 .page-header .menu-toggle {
	display: none !important;
}

.qboat.sidebar-v3 .mini-sidebar,
.qboat.sidebar-v4.sidebar-mini .sidebar {
	display: none;
}

.qboat.sidebar-v4 .sidebar {
	background: var(--card-color);
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0;
	min-width: 280px;
	width: 280px;
}

.qboat.sidebar-v4 .metismenu>li>a {
	color: var(--gray-8);
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: .6rem 0;
}

.qboat.sidebar-v4 .metismenu .sub-link {
	color: var(--gray-6);
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 5px 8px;
	font-size: 15px;
}

.qboat.sidebar-v4 .metismenu .sub-link:hover,
.qboat.sidebar-v4 .metismenu .sub-link.active {
	color: var(--primary-color);
}

.qboat.sidebar-v4 .metismenu .has-arrow:after {
	right: 0;
	width: .4em;
	height: .4em;
}

.qboat.sidebar-v4 .mini-sidebar {
	display: none;
}

.qboat .modal-menu .nav-link {
	color: #ffffffb3;
}

.qboat .modal-menu .nav-link:hover {
	color: #fff;
}

.qboat .grid-menu {
	flex-wrap: wrap;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.qboat .grid-menu>li a {
	transition: ease .2s;
	background: rgba(255, 255, 255, .05);
	color: #ffffffb3;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 300;
	padding: 1rem;
	width: 100%;
	height: 120px;
}

.qboat .grid-menu>li a:hover {
	background: #000000;
}

.qboat .grid-menu>li a:hover i {
	color: #fff;
}

.qboat .grid-menu>li a i {
	font-size: 26px;
	color: #ffffffb3;
	margin-bottom: .7rem;
}

.qboat .body-bg {
	background-color: var(--body-color);
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
}

@media only screen and (min-width: 768px) {
	.qboat .body-bg:after {
		background-color: var(--dark);
		content: "";
		position: absolute;
		height: 75px;
		width: 100%;
		top: 0;
		left: 0;
	}
}

.qboat .body-bg .hero-img1,
.qboat .body-bg svg {
	position: absolute;
	right: 0;
	bottom: 0;
}

@media only screen and (max-width: 1024px) {

	.qboat .body-bg .hero-img1,
	.qboat .body-bg svg {
		display: none;
	}
}

.qboat:before {
	background: linear-gradient(45deg, var(--primary-color), var(--accent-color));
	content: "";
	position: fixed;
	height: 5px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1023;
}

.sidebar.dark .flex-grow-1 .menu-list {
	background: var(--black);
	color: var(--gray-4);
}

.sidebar.dark .flex-grow-1 .menu-list li.divider a,
.sidebar.dark .flex-grow-1 .menu-list .brand-icon a {
	color: var(--gray-3);
}

.sidebar.dark .flex-grow-1 .menu-list a.m-link {
	color: var(--gray-5);
}

.sidebar.open {
	left: 0;
}

.sidebar>div {
	flex-direction: column;
	display: flex;
	height: 100%;
}

.sidebar .flex-grow-1 .menu-list {
	background: linear-gradient(180deg, var(--card-color) 0%, rgba(255, 255, 255, 0) 100%);
	padding-top: .5rem;
}

/* .sidebar .menu-list {
	list-style: none;
	border-radius: 0 0 1rem 1rem;
	padding: 0 10px 1rem;
} */

.sidebar .menu-list .brand-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
}

.sidebar .menu-list .brand-icon a {
	color: var(--gray-8);
	text-decoration: none;
	font-weight: 500;
}

.sidebar .menu-list>li.divider {
	border-bottom: 1px solid var(--border-color);
	margin: 10px 0;
}

.sidebar .menu-list>li ul {
	list-style: none;
	padding-left: 1.9rem;
}

.sidebar .menu-list>li ul li a {
	color: var(--gray-6);
	display: flex;
	font-size: 14px;
	padding: .2rem .3rem;
}

.sidebar .menu-list a.m-link {
	color: var(--gray-8);
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 400;
	padding: .5rem 0;
}

.sidebar .menu-list a.m-link:hover,
.sidebar .menu-list a.m-link.active {
	color: var(--primary-color);
}

.sidebar .menu-list a.m-link[aria-expanded=true] .arrow:before {
	content: "\f106";
}

.sidebar .menu-list a.ms-link:hover,
.sidebar .menu-list a.ms-link.active {
	color: var(--primary-color);
}

@media only screen and (min-width: 1440px) {
	.sidebar .menu-list {
		padding: 0 20px 1rem;
	}
}

@media only screen and (max-width: 1440px) {
	.sidebar {
		background-color: var(--card-color);
	}
}

@media only screen and (max-width: 992px) {
	.sidebar {
		overflow-y: auto;
		scroll-behavior: smooth;
		-ms-overflow-style: none;
		scrollbar-width: none;
		background: var(--card-color);
		box-shadow: 5px 1rem 1rem #2125291a;
		position: fixed;
		width: calc(100% - 80px);
		left: -100%;
	}

	.sidebar::-webkit-scrollbar {
		background: var(--card-color);
		visibility: visible;
		width: 4px;
	}

	.sidebar:hover::-webkit-scrollbar-thumb {
		background: var(--gray-4);
	}

	.sidebar::-webkit-scrollbar-track {
		visibility: visible;
		background: transparent;
	}

	.sidebar::-webkit-scrollbar-thumb {
		background: transparent;
		visibility: visible;
	}

	.sidebar .menu-list>li.dropdown .dropdown-menu {
		display: block;
		position: relative;
		left: 0 !important;
		padding: 6px;
		margin-bottom: 1rem;
		border: 0;
		box-shadow: none !important;
		margin-left: 1rem;
	}
}

.page {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.page {
		padding: 0 1rem;
	}
}

@media only screen and (min-width: 1280px) {
	.page {
		padding: 0 1.5rem;
		width: calc(100% - 230px);
	}
}

@media only screen and (min-width: 1680px) {
	.page {
		padding: 0 2rem;
		width: calc(100% - 308px);
	}
}

.page-header {
	background-color: var(--dark);
	padding: .969rem 0;
	z-index: 1021;
	position: fixed;
	width: 100%;
}

.page-header .search {
	position: relative;
}

.page-header .search svg {
	position: absolute;
	top: .99rem;
	left: 1.3rem;
}

.page-header .search .form-control {
	border-color: transparent;
	line-height: 2;
	padding-left: 2.5rem;
}

.page-header .search .form-control::-moz-placeholder {
	color: var(--gray-4);
}

.page-header .search .form-control:-ms-input-placeholder {
	color: var(--gray-4);
}

.page-header .search .form-control::placeholder {
	color: var(--gray-4);
}

@media only screen and (min-width: 1120px) {
	.page-header .search .form-control {
		width: 400px;
	}
}

.page-header .header-menu {
	list-style: none;
	display: flex;
	justify-content: end;
	align-items: center;
	margin: 0;
	padding: 0;
}

.page-header .header-menu a {
	text-decoration: none;
}

.page-header .header-menu .dropdown-menu {
	z-index: 1021;
}

.page-header .header-menu .dropdown-toggle {
	padding: 1rem .8rem;
}

@media only screen and (max-width: 370px) {
	.page-header .header-menu .dropdown-toggle {
		padding: 1rem .6rem;
	}
}

.page-header .header-menu .dropdown-toggle:after {
	display: none;
}

.page-filter {
	position: relative;
}

.page-filter .filter-div {
	background: var(--card-color);
	padding: 1.5rem;
	border-radius: 0 0 .75rem .75rem;
}

.page-filter a.btn {
	background: var(--card-color);
	position: absolute;
	right: 1.3rem;
	line-height: 12px;
	border-radius: 0 0 20px 20px;
}

.page-filter a.btn:focus {
	color: var(--white);
	outline: none;
	box-shadow: none;
}

.page-filter a.btn.collapsed i:before {
	content: "\f107";
}

.page-filter a.btn i:before {
	content: "\f106";
}

.page-title {
	padding: 1rem 0;
}


.w-min-400px{
	min-width:400px;
}

.page-header .nav-form{}

.layout-main-section .page-form{
	margin:0px 0px 16px 0px;
	border:none;
	border-radius:8px;
}
.layout-main-section .page-form .form-group {
    margin:0px;
}
.search-bar.input-group{
	    width: 100%;
    margin: 0px;flex-wrap: nowrap;
}
.search-bar .search-icon{
	position:relative;
	display:block;
	margin:0px;    line-height: 22px;
}

.search-bar .search-icon .input-group-text{
	border:none;
}

.search-bar.input-group .awesomplete input{
		    width: auto !important;
}

.search-bar.input-group .awesomplete .form-control{
	border-radius:0px 4px 4px 0px;padding-left: 16px;
}

.page-head.drop-shadow{
	background:transparent !important;
}


@media only screen and (max-width: 1440px) {
	.page-header .header-menu h5 {
		font-size: 16px;
	}
}


@media only screen and (max-width: 576px) {
	.page-title h1 {
		width: 100%;
	}
}

@media only screen and (max-width: 576px) {
	.page-title {
		padding: .5rem 0;
	}
}

@media only screen and (min-width: 1120px) {
	.page-title {
		padding: 1.7rem 0;
	}
}

.page-title>div {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.page-title h1 {
	font-size: 24px;
}

@media only screen and (min-width: 576px) {
	.page-title h1 {
		font-size: 34px;
	}
}

.page-title .breadcrumb-item+.breadcrumb-item:before {
	color: var(--gray-4);
	content: "-";
	margin: 0 .1rem;
}

.page-body {
	color: var(--gray-7);
}

.page-body.layout-1 {
	display: flex;
}

.page-inner-layout {
	background: var(--card-color);
	display: flex;
	flex-wrap: nowrap;
	border-radius: .75rem;
}

.page-inner-layout .order-1 {
	min-width: 360px;
	max-width: 360px;
}

@media only screen and (max-width: 1120px) {
	.page-inner-layout .order-1 {
		max-width: 100%;
		width: 100%;
	}
}

.page-inner-layout .order-2 {
	transition: ease .1s;
	border-left: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
}

.page-inner-layout .order-2 .close-toggle {
	display: none;
}

@media only screen and (max-width: 1120px) {
	.page-inner-layout .order-2 {
		position: fixed;
		right: -1600px;
		width: 700px;
		z-index: 999;
	}

	.page-inner-layout .order-2.open {
		background: var(--card-color);
		box-shadow: 0 .5rem 1rem #00000026;
		right: 0;
		top: 0;
		height: 100vh;
		z-index: 1023;
		border-radius: 0;
	}

	.page-inner-layout .order-2.open .close-toggle {
		display: inline-flex;
	}

	.page-inner-layout .order-2.open .action-body {
		height: calc(100vh - 150px);
	}

	.page-inner-layout .order-2.open .card-fullscreen {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.page-inner-layout .order-2 {
		width: 100%;
	}
}

.page-inner-layout .action-header,
.page-inner-layout .action-body,
.page-inner-layout .action-footer {
	padding: 1rem;
}

.page-inner-layout .action-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dashed var(--border-color);
}

.page-inner-layout .action-footer {
	border-top: 1px dashed var(--border-color);
}

.brand-box {
	display: flex;
	align-items: center;
	margin-top: -3px;
}

.brand-box img {
	height: 48px;
}

.brand-min.brand-box img {
	height: 48px;
}

.brand-box span {
	color: var(--primary-color);
}

.brand-box strong {
	line-height: 48px;
}

.brand-icon img {
	height: 64px;
}

.card .icon-card {
	height: 96px;
	width: 96px;
	border-radius: 50%;
	line-height: 96px;
	display: block;
	font-size: 36px;
	margin: 0px auto;
}

.text-card-body {
	min-height: 160px;
}

.text-card-body .fa-solid {
	font-size: 32px;
	margin-bottom: 15px;
}

.text-card-body h3 {
	font-size: 18px;
	margin: 0px;
}

.qboat.sidebar-mini .sidebar .menu-list .brand-box strong {
	display: none;
}

.qboat.auth .sidebar.auth2 {
	width: 360px;
	min-width: 360px;
}

.qboat.auth .sidebar.auth2 {
	/*background-image: url(../img/auth-bg-2.png);*/
	;
}

.sidebar {
	width: 300px;
	min-width: 300px;
	top:75px;
	margin-top: 75px;
}

.sidebar .flex-grow-1 .menu-list {
	height: calc(100vh - 230px);
}

.iframe-map iframe {
	width: 100%;
	display: block;
	height: 480px;
	border-radius: 6px;
}

.page-header .header-menu h5 {
	line-height: 28px;
}

.page-header .header-menu .header-heading span {
	line-height: 15px;
	font-size: 14px;
}

.table-report {
	font-size: 12px;
	overflow: hidden;
	color: #343A40;
}

.table-report.table-striped>tbody>tr:nth-of-type(odd)>* {
	--bs-table-accent-bg: #f9f9f9;
}

.table-report.table-striped tr td.row-bg {
	background-color: #fff !important;
	--bs-table-accent-bg: #fff;
	color: #4b4b4b;
	font-weight: normal;
	padding-right: 6px;
}

.border-left {
	border-left: 1px solid #E9ECEF;
}

.border-right {
	border-right: 1px solid #E9ECEF;
}

.table-report.table>:not(:first-child) {
	border-top: 2px solid #E9ECEF;
}

.table-report.table td:hover::after {
	background-color: #ffa;
	content: '';
	height: 10000px;
	left: 0;
	position: absolute;
	top: -5000px;
	width: 100%;
	z-index: -1;
}

.table-report.table tr td,
.table-report.table tr th {
	color: #121212;
	position: relative;
}

.table-report.table tr td {
	text-align: right;
}

.bg-cell-highlight-3 {
	background-color: #fffbf1 !important;
}

.bg-cell-highlight-2 {
	background-color: #fffbf1 !important;
}

.bg-cell-highlight-1 {
	background-color: #f1fbff !important;
}

.border-radius-right-top {
	border-radius: 0px 6px 0px 0px !important;
}

.fs-24 {
	font-size: 24px !important;
}

.sidebar .menu-list>li ul li a {
	text-decoration: none;
}

.text-female-color {
	color: #F740A9;
}

.text-male-color {
	color: #0091F7;
}

.text-mix-color {
	color: #454d66;
}

.text-female-bg {
	background-color: #F740A9;
}

.text-male-bg {
	background-color: #0091F7;
}

.text-mix-bg {
	background-color: #454d66;
}

.text-teaching-color1 {
	color: #F0A500;
}

.text-teaching-color2 {
	color: #334756;
}

.brand-mini>img {
	height: 32px;
}

.mx-auto .apexcharts-canvas {
	margin-right: auto !important;
	margin-left: auto !important;
}

.for-login,
.for-forgot,
.for-login-with-email-link,
.for-signup,
.for-email-login {
	padding: 0 !important;
}



.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5,
.page-header h6,
.page-header .h1,
.page-header .h2,
.page-header .h3,
.page-header .h4,
.page-header .h5,
.page-header .h6 {
	margin-bottom: 7px;
	font-weight: 500;
	line-height: 1.2;
	color: #adb5bd;
}

.sidebar .layout-side-section-menu .icon {
	margin: 0px !important;
}

.sidebar .menu-list a.m-link.active,
.sidebar .menu-list a.m-link:hover {
	color: #5bc43a;
}

.qboat.admin{
	height:unset;
}

.content-page-container .page-head{
	position:relative;
	top:0px !important;
	background:transparent;
	margin:0px;padding: 0px 12px;
}
.content-page-container .page-head.drop-shadow{
	background:transparent;
	box-shadow:none;
}
.content-page-container  .page-head .page-head-content {
    height: unset;
}
.content-page-container .container{
	max-width:100%;
	padding-left:12px;
	padding-right:12px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	    
}

.content-page-container  .page-head .page-head-content .page-title .title-area .title-text{
	    background: linear-gradient(145deg, var(--primary-color), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-family: "Bree Serif",sans-serif;
}

.table-ui{
	background:#fff;
}
.table-ui thead>tr>th{
	background:#cad9ee;
	color:#343434;
}
.table-ui.table-bordered>:not(caption)>* {
    border-color:#E9ECEF;
}

.page-form .frappe-control .input-xs{
	height: calc(1.5em + 0.75rem + 2px);
}

.page-form .frappe-control.form-group .select-icon.xs{
	top: 7px;
    right: 12px;
}

.page-form .frappe-control .select-icon.xs .icon-xs{
	width: 20px;
    height: 20px;
}
.source-data{
	position:absolute;
	bottom:5px;
	left:5px;
}
.source-data p{
    font-size: 10px;
    font-style: italic;
    color: #999;
    margin-left: 0px;
    margin-bottom: 0px;
}