[data-qboat="theme-AppleGreen"] {
	--primary-rgb: 91, 196, 58;

	--primary-color: #5BC43A;
	--accent-color: #00668b;
	--secondary-color: #222831;

	--theme-color1: #00b864;
	--theme-color2: #0097aa;
	--theme-color3: #0084bd;
	--theme-color4: #004e72;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-Midnight"] {
	--primary-rgb: 0, 20, 41;

	--primary-color: #001429;
	--accent-color: #52616B;
	--secondary-color: #252A34;

	--theme-color1: #574f72;
	--theme-color2: #896e96;
	--theme-color3: #bf8fb8;
	--theme-color4: #f7b2d6;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-FrenchRose"] {
	--primary-rgb: 235, 83, 147;

	--primary-color: #EB5393;
	--accent-color: #36AE7C;
	--secondary-color: #252A34;

	--theme-color1: #a50059;
	--theme-color2: #c82f75;
	--theme-color3: #de97af;
	--theme-color4: #ddd7c6;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-DaisyBush"] {
	--primary-rgb: 84, 22, 144;

	--primary-color: #541690;
	--accent-color: #FF8D29;
	--secondary-color: #171825;

	--theme-color1: #320071;
	--theme-color2: #7d3eb9;
	--theme-color3: #a765e3;
	--theme-color4: #d38cff;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-DodgerBlue"] {
	--primary-rgb: 17, 60, 252;

	--primary-color: #287eff;
	--accent-color: #03C4A1;
	--secondary-color: #232931;

	--theme-color1: #001f84;
	--theme-color2: #004ac0;
	--theme-color3: #287eff;
	--theme-color4: #88bdff;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-Tradewind"] {
	--primary-rgb: 17, 60, 252;

	--primary-color: #65baa9;
	--accent-color: #7a6697;
	--secondary-color: #232931;

	--theme-color1: #65baa9;
	--theme-color2: #2eaab5;
	--theme-color3: #2a82be;
	--theme-color4: #5c68af;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-WebOrange"] {
	--primary-rgb: 240, 165, 0;

	--primary-color: #F0A500;
	--accent-color: #334756;
	--secondary-color: #171825;

	--theme-color1: #c2554f;
	--theme-color2: #ff8981;
	--theme-color3: #F6A400;
	--theme-color4: #CDAD14;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-TorchRed"] {
	--primary-rgb: 255, 15, 91;

	--primary-color: #FF0F5B;
	--accent-color: #7160cb;
	--secondary-color: #1a2022;

	--theme-color1: #d62c88;
	--theme-color2: #9b489e;
	--theme-color3: #5e5398;
	--theme-color4: #33527c;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

[data-qboat="theme-Jasper"] {
	--primary-rgb: 201, 78, 78;

	--primary-color: #c94e4e;
	--accent-color: #713045;
	--secondary-color: #582233;

	--theme-color1: #c94e4e;
	--theme-color2: #713045;
	--theme-color3: #582233;
	--theme-color4: #430d27;
	--theme-color5: #96b0b7;
	--theme-color6: #2f4858;

	--primary-gradient: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}