/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #0088cc;
$yellow: #ffce39;
$orange: #f2852f;
$white: #ffffff;
$color-success: #198754;
$color-danger : #dc3545;
$color-warning : #ffc107;
$color-info: #0dcaf0;
$black: #000000;
$dark: #212529;
/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 16;
$base-font-size: 16px;


/*--------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: 'Amatic SC', cursive;
$body-font: 'century gothic', arial;
$font-family: 'century gothic', arial;
$font-size: 16px;
$font-heading: 'Amatic SC', cursive;
$font-size-root : 16px;
$prefix: 'bs';
/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-xsmall: 576px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1120px;
$break-xlarge: 1440px;
$break-xxlarge: 1680px;
$break-1024: 1024px;
$break-1280: 1280px;
$break-sm: 576px;